body {
    background-image: url(website_background_high_res.png);
    flex-wrap: nowrap;
    background-position: auto;
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    align-items: center;
    background-color: #1F2937;
    border: 2px solid #1F2937;

}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin:0;
    margin-left: 0.5em;
    background-color: #1F2937;
}

nav {
 display: flex;
}
.navbar {
    font-size: 1.2em;
    color:#E5E7EB;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;

    @media (width < 445px) {
        font-size: 0.8em;
    }
    @media (width <= 360px) {
        font-size: 0.7em;
    }
    @media (width <= 325px) {
        font-size: 0.6em;
    }
}
.navbar:hover {
    color:#c2c3c6;
    cursor:pointer;
}
div {
    margin: 1em 10em;
    margin-top: 0;
    background-color: rgb(77, 122, 77);
    color: rgb(227, 171, 80);
    padding: 0.5em 2em;
    font-size: 0.7rem;
    font-size: clamp(0.7rem, 0.5411910669975186rem + 0.7940446650124069vw, 1.5rem);

    border-radius: 10px;

    @media (width <= 960px) {
        padding: 0.5em 1.5em;
        margin: 1em 8em;
    }
    @media (width <= 800px) {
        padding: 0.5em 1.5em;
        margin: 1em 7em;
    }
    @media (width <= 650px) {
        padding: 0.5em 1.5em;
        margin: 1em 6em;
    }

    @media (width <= 550px) {
        padding: 0.5em 1.5em;
        margin: 1em 5em;
    }
    @media (width <= 500px) {
        padding: 0.5em 1em;
        margin: 1em 4em;
    }
    @media (width <= 430px) {
        padding: 0.5em 0.5em;
        margin: 1em 3em;
    }
}
.recipe {
    margin-top:1em;
    margin-bottom: 1em;
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.8052109181141439rem + 3.4739454094292808vw, 5rem);
}

h1, h2 {
    color: rgb(249, 193, 104);
}

li {
    margin: 15px 0;
}
footer {
    display: flex;
    padding: 2em 1em;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    background-color: #1F2937;
    margin-bottom: 0px;
}
.copyright {
    margin:0;
    color:#E5E7EB;
}
